**__pycache__/
**.snakemake/
**.Rhistory
**.ipynb_checkpoints/
data/vcf_files/samples/
data/bed_files/exon_reproduction/
data/bed_files/exons_untouched/
data/bed_files/predicted_exons/
data/bed_files/1KG_strict/
data/bed_files/1KG_combined/
data/bed_files/roulette_coverage/
data/bed_files/basis/
data/bed_files/intergenic/
data/bed_files/buffers/
data/bed_files/10kb_buffer/
data/bed_files/50kb_buffer/
data/bed_files/1e-4M_buffer_strict/
data/mutation_maps/roulette/
data/windowed_mutation_maps/scaled_roulette_1kb/
data/windowed_mutation_maps/scaled_roulette_10kb/
data/windowed_mutation_maps/roulette_1kb/
data/windowed_mutation_maps/roulette_10kb/
data/recombination_maps/Bherer/
data/recombination_maps/Zhou_original/
data/recombination_maps/Zhou/
data/recombination_maps/omni/
data/recombination_maps/pyrho/
exploratory/
simulations/bootstrap_lrt_demo/data.zip
simulations/bootstrap_lrt_demo/data/
simulations/bootstrap_lrt_demo/data_set_simulation/trials/
simulations/bootstrap_lrt_demo/replicate_fits/
simulations/bootstrap_lrt_demo/data_set_fits/
simulations/bootstrap_lrt_demo/trials/
simulations/bootstrap_lrt_power/data.zip
simulations/bootstrap_lrt_power/data/
simulations/bootstrap_lrt_power/results/
simulations/bootstrap_lrt_power/fits/
simulations/joint_inference_demo/data.zip
simulations/joint_inference_demo/data/
simulations/joint_inference_demo/fits/
simulations/mutation_weighting_demo/data.zip
simulations/mutation_weighting_demo/data/
simulations/mutation_weighting_demo/trials/
models/blrt/*/
models/bootstrap_models/*/
