**__pycache__/
**.snakemake/
**.Rhistory

.old/
data/.old/

data/bed_files/raw/*
data/bed_files/filterbed_roulette/     
data/bed_files/filterbed_exons_10kb/    
data/bed_files/filterbed_exons_1e-4M/         
data/bed_files/filterbed_exons_1e-5M/
data/bed_files/strict_exons_10kb/
data/bed_files/strict_exons_1e-4M/
data/bed_files/strict_exons_1e-5M/
data/bed_files/strict_roulette/

data/mutation_maps/hg19/*.npy

data/recombination_maps/Bherer_hg19/*

data/vcf_files/raw/
data/vcf_files/African/*.gz
data/vcf_files/Eurasian/*.gz

statistics/old/*
statistics/African/sums/
statistics/Eurasian/sums/
simulations/
models/
working/
notebooks/