**__pycache__/
**.snakemake/
**.Rhistory

.old/
data/.old/
data/bed_files/*/     
data/mutation_maps/*/
data/recombination_maps/*/
data/vcf_files/*/

statistics/
simulations/
models/000*/
models/working/
models/analytic
working/

notebooks/*.nb